@import '../../node_modules/@vueform/multiselect/themes/tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import '@vueform/slider/themes/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

sub, sup { font-weight: bold; font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: 0.1rem; vertical-align: super;}
sub { bottom: -0.25em; vertical-align: sub;}

:root {
  --slider-connect-bg: theme('colors.red.500');
  --slider-tooltip-bg: theme('colors.red.500');
  --slider-tooltip-color: theme('colors.white');
  --slider-handle-ring-color: theme('colors.red.300');
}

@layer components {
  .btn-primary {
    border-radius: theme('borderRadius.md');
    padding-left: theme('spacing.4');
    padding-right: theme('spacing.4');
    padding-top: theme('spacing.2');
    padding-bottom: theme('spacing.2');
    background-color: theme('colors.red.500');
    border-color: theme('colors.white');
    border-width: theme('borderWidth.2');
    box-shadow: theme('boxShadow.md');
    color: theme('colors.white');
    font-weight: theme('fontWeight.medium');
    font-size: theme('fontSize.sm');
    line-height: theme('lineHeight.5');
  }
  .btn-primary:hover {
    background-color: theme('colors.red.700');
  }
  .alert-container {
    border-radius: theme('borderRadius.md');
    border-width: theme('borderWidth.2');
    border-style: dashed;
    border-color: theme('colors.red.700');
    background-color: theme('colors.red.50');
    padding-left: theme('spacing.4');
    padding-right: theme('spacing.4');
    padding-top: theme('spacing.2');
    padding-bottom: theme('spacing.2');
    color: theme('colors.red.700');
  }
}

button.pagination-number {
  display: inline-flex;
  ialign-items: center;
  border-top-width: theme('borderWidth.2');
  border-color: theme('colors.transparent');
  padding-left: theme('spacing.4');
  padding-right: theme('spacing.4');
  padding-top: theme('spacing.4');
  font-size: theme('fontSize.sm');
  line-height: theme('lineHeight.5');
  color: theme('colors.slate.500');
  cursor: pointer;
}
button.pagination-number.active{
  border-color: theme('colors.red.600');
  color: theme('colors.red.600');
  cursor: auto;
  font-weight: theme('fontWeight.bold');
}
button.pagination-number:hover{
  border-color: theme('colors.slate.300');
  color: theme('colors.slate.700');
}
button.pagination-number[disabled]:hover{
  cursor: default;
  border-color: theme('colors.transparent');
  color: theme('colors.slate.500');
}
button.pagination-number.active:hover{
  border-color: theme('colors.red.500');
  color: theme('colors.red.500');
}

.hero-card-display {
  /* overflow-x: scroll; */
}
.hero-card-display > div {
  width: 233mm;
  height: 170mm;
  transform-origin: top left;
  transform: scale(0.45);
  margin-bottom: calc((0.45 - 1) * 170mm);
}
.villain-card-display > div {
  width: 170mm;
  height: 233mm;
  transform-origin: top left;
  transform: scale(0.45);
  margin-bottom: calc((0.45 - 1) * 233mm);
}
.hero-initiative-card-display > div {
  width: 26.5mm;
  height: 40.7mm;
  transform-origin: top left;
}
.print-verso-fix {
  margin-left: 0.5cm;
}
@media screen(sm) {
  .hero-card-display > div {
    transform: scale(0.725);
    margin-bottom: calc((0.725 - 1) * 170mm);
  }
  .villain-card-display > div {
    transform: scale(0.725);
    margin-bottom: calc((0.725 - 1) * 233mm);
  }
}
@media screen(md) {
  .hero-card-display > div {
    transform: scale(0.87);
    margin-bottom: calc((0.87 - 1) * 170mm);
  }
  .villain-card-display > div {
    transform: scale(0.87);
    margin-bottom: calc((0.87 - 1) * 233mm);
  }
}
@media screen(lg) {
  .hero-card-display > div {
    transform: scale(1);
    margin-bottom: calc((1 - 1) * 170mm);
  }
  .villain-card-display > div {
    transform: scale(1);
    margin-bottom: calc((1 - 1) * 233mm);
  }
}
@media screen(xl) {
  .hero-card-display > div {
    transform: scale(0.85);
    margin-bottom: calc((0.85 - 1) * 170mm);
  }
  .villain-card-display > div {
    transform: scale(0.85);
    margin-bottom: calc((0.85 - 1) * 233mm);
  }
}
@media screen(2xl) {
  .hero-card-display > div {
    transform: scale(1);
    margin-bottom: calc((1 - 1) * 170mm);
  }
  .villain-card-display > div {
    transform: scale(1);
    margin-bottom: calc((1 - 1) * 233mm);
  }
}
@media print {
  .print-container {
    page-break-after: always;
  }
  .hero-card-display {
    transform: scale(0.647);
    margin-bottom: calc((0.647 - 1) * 170mm);
    /* page-break-after: always; */
    transform-origin: top;
  }
  .villain-card-display {
    transform: scale(0.647);
    margin-bottom: calc((0.647 - 1) * 233mm);
    /* page-break-after: always; */
    transform-origin: top;
  }
  .hero-initiative-card-display {
    transform: scale(0.647);
    margin-bottom: calc((0.647 - 1) * 40.7mm);
    /* page-break-after: always; */
    transform-origin: top;
  }
  /* .hero-card-display {
    transform: scale(0.647);
    overflow: visible;
  }
  .villain-card-display {
    transform: scale(0.647);
    overflow: visible;
  }
  .hero-initiative-card-display {
    transform: scale(0.647);
    overflow: visible;
  } */
  .hidden-print {
    display: none;
  }
}