@import '../../node_modules/@vueform/multiselect/themes/tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

sub, sup { font-weight: bold; font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: 0.1rem; vertical-align: super;}
sub { bottom: -0.25em; vertical-align: sub;}

@layer components {
  .btn-primary {
    border-radius: theme('borderRadius.md');
    padding-left: theme('spacing.4');
    padding-right: theme('spacing.4');
    padding-top: theme('spacing.2');
    padding-bottom: theme('spacing.2');
    background-color: theme('colors.red.500');
    border-color: theme('colors.white');
    border-width: theme('borderWidth.2');
    box-shadow: theme('boxShadow.md');
    color: theme('colors.white');
    font-weight: theme('fontWeight.medium');
    font-size: theme('fontSize.sm');
    line-height: theme('lineHeight.5');
  }
  .btn-primary:hover {
    background-color: theme('colors.red.700');
  }
  .alert-container {
    border-radius: theme('borderRadius.md');
    border-width: theme('borderWidth.2');
    border-style: dashed;
    border-color: theme('colors.red.700');
    background-color: theme('colors.red.100');
    padding-left: theme('spacing.4');
    padding-right: theme('spacing.4');
    padding-top: theme('spacing.2');
    padding-bottom: theme('spacing.2');
    color: theme('colors.red.700');
  }
}

.hero-card-display {
  width: 233mm;
  height: 170mm;
  overflow: hidden;
}
@media print {
  .hero-card-display {
    transform: scale(0.64);
    overflow: visible;
    page-break-after: always;
  }
  .hidden-print {
    display: none;
  }
}